th { 
	display: block;
	width: 100px;
	float: left;
    text-align: center; 
    background-color: #67ce00;
}

body {
	color: white;
	font-size: 90%;
}

td {
	display: block;
	width: 100px;
	float: left;
    text-align: center; 
	background-color: #0080ff;
}